{
    "extends": "./rules/index.js",
    "env": {
      "browser": true,
      "amd": true
    },
    "rules": {
        "comma-dangle": 1,
        "linebreak-style": "off",
        "quotes": "off",
        "indent": ["warn", 4],
        "func-names": "off",
        "prefer-arrow-callback": "off",
        "no-underscore-dangle": "off",
        "prefer-template": "off",
        "no-bitwise": "off",
        "one-var": "off",
        "no-multi-assign": "off",
        "max-len": ["error", 180]
    }
}
